@charset "UTF-8";

body {
	background-image: url(img/bg_image.jpg);
	background-position: left center;
	background-repeat: no-repeat;
}

.bg_login {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px !important;
}
